<tr id='<%= evaluation.evaluation_id %>' class='<%= evaluation_row_class(evaluation.state) %>'
    title='<%= evaluation_row_title(evaluation.state) %>' data-state='<%= evaluation.state %>'>
  <td class='performed_at'>
    <%= time_to_string(evaluation.performed_at) %>
  </td>
  <td>
    <%= evaluation.model %>
  </td>
  <td class='period'>
    <% if evaluation.from and evaluation.to %>
    開始: <%= date_to_string(evaluation.from) %><br>
    終了: <%= date_to_string(evaluation.to) %>
    <% end %>
  </td>
  <td class='pair'>
    <%= evaluation.analysis&.pair %>
  </td>
  <td class='log_loss'>
    <%= evaluation.log_loss %>
  </td>
  <td class='state'>
    <%= state_to_title(evaluation.state) %>
  </td>
</tr>
