<tr class='<%= state_to_class(prediction.state) %>'>
  <td>
    <%= time_to_string(prediction.created_at) %>
  </td>
  <td>
    <%= prediction.model %>
  </td>
  <td>
    <% if prediction.from and prediction.to %>
    開始: <%= time_to_string(prediction.from) %><br>
    終了: <%= time_to_string(prediction.to) %>
    <% end %>
  </td>
  <td>
    <%= means_to_display(prediction.means) %>
  </td>
  <td>
    <%= prediction.pair %>
  </td>
  <td>
    <span class='glyphicon <%= icon_class(prediction) %>' style='color: <%= icon_color(prediction) %>'/>
  </td>
</tr>
