<tr id='<%= prediction.prediction_id %>' class='<%= state_to_class(prediction.state) %>'>
  <td class='performed_at'>
    <%= time_to_string(prediction.performed_at) %>
  </td>
  <td>
    <%= prediction.model %>
  </td>
  <td class='period'>
    <% if prediction.from and prediction.to %>
    開始: <%= time_to_string(prediction.from) %><br>
    終了: <%= time_to_string(prediction.to) %>
    <% end %>
  </td>
  <td class='pair'>
    <%= prediction.analysis&.pair %>
  </td>
  <td>
    <%= means_to_display(prediction.means) %>
  </td>
  <td class='result'>
    <span class='glyphicon <%= icon_class(prediction) %>'/>
  </td>
</tr>
