<tr class='<%= prediction.state == 'completed' ? 'success' : 'warning' %>'>
  <td><%= prediction.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
  <td><%= prediction.model %></td>
  <%
    period = if prediction.from and prediction.to
               from = prediction.from.strftime('%Y/%m/%d %T')
               to = prediction.to.strftime('%Y/%m/%d %T')
               "#{from} 〜 #{to}"
             end
  %>
  <td><%= period %></td>
  <%
    icon_class = case prediction.result
                 when 'up'
                   'glyphicon-circle-arrow-up'
                 when 'down'
                   'glyphicon-circle-arrow-down'
                 when 'range'
                   'glyphicon-circle-arrow-right'
                 else
                   'glyphicon-question-sign'
                 end
  %>
  <td><span class='glyphicon <%= icon_class %>' /></td>
</tr>
