<tr class='<%= analysis.state == 'completed' ? 'success' : 'warning' %>'>
  <td><%= analysis.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
  <td><%= analysis.num_data %></td>
  <td><%= analysis.interval %></td>
  <td><%= analysis.state == 'completed' ? '完了' : '実行中' %></td>
</tr>
