<tr>
  <td class='<%= state_to_class(analysis.state) %>'>
    <%= time_to_string(analysis.created_at) %>
  </td>
  <td class='<%= state_to_class(analysis.state) %>'>
    <%= period_to_string(analysis.from, analysis.to) %>
  </td>
  <td class='<%= state_to_class(analysis.state) %>'>
    <%= analysis.batch_size %>
  </td>
  <td class='<%= state_to_class(analysis.state) %>'>
    <%= state_to_title(analysis.state) %>
  </td>
  <td class='rebuild'>
    <%= button_tag(:type => 'button', :class => 'btn btn-default rebuild') do %>
      <span class='glyphicon glyphicon-repeat' />
    <% end %>
  </td>
</tr>
