<% state_class = analysis.state == 'completed' ? 'success' : 'warning' %>
<tr>
  <td class='<%= state_class %>'><%= analysis.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
  <td class='<%= state_class %>'><%= analysis.from.strftime('%Y/%m/%d %T') %> 〜 <%= analysis.to.strftime('%Y/%m/%d %T') %></td>
  <td class='<%= state_class %>'><%= analysis.batch_size %></td>
  <td class='<%= state_class %>'><%= analysis.state == 'completed' ? '完了' : '実行中' %></td>
  <td class='rebuild'>
    <%= button_tag(:type => 'button', :class => 'btn btn-default rebuild') do %>
      <span class='glyphicon glyphicon-repeat' />
    <% end %>
  </td>
</tr>
