<div class='row center-block'>
  <div class='col-lg-4'>
    <div id='new-analysis' class='tab-pane well'>
      <h3>レートを分析</h3>
      <%= form_for @analysis, {:url => analyses_path, :remote => true} do |f| %>
        <%= label_tag '期間' %>
        <div class='form-group'>
          <%= f.label :from, '開始', {:class => 'period-label'} %>
          <%= f.datetime_local_field :from, {:class => 'period-form form-control', :name => :from, :step => 1} %>
          <%= f.label :to, '終了', {:class => 'period-label'} %>
          <%= f.datetime_local_field :to, {:class => 'form-control period-form', :name => :to, :step => 1} %>
        </div>
        <div class='form-group'>
          <%= f.label :pair, 'ペア' %>
          <% options = Analysis::PAIRS.map {|pair| [pair, pair] }.to_h %>
          <%= select_tag :pair, options_for_select(options, Analysis::DEFAULT_PAIR), :class => 'form-control', :id => 'analysis_pair' %>
        </div>
        <div class='form-group'>
          <%= f.label :batch_size, 'バッチサイズ' %>
          <%= f.text_field :batch_size, {:class => 'form-control', :name => 'batch_size', :required => true} %>
        </div>
        <%= f.submit '実行', :class => 'btn btn-primary btn-sm btn-submit' %>
        <%= f.submit 'リセット', :type => 'reset', :class => 'btn btn-default btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class='col-lg-8 well'>
    <h3 style='padding: 10px 0px'>ジョブ実行履歴</h3>
    <% from = @analyses.total_count == 0 ? 0 : @analyses.offset_value + 1 %>
    <% info = {:total_count => @analyses.total_count, :from => from, :to => @analyses.offset_value + @analyses.size} %>
    <h4 style='padding: 10px 0px;display: inline'><%= t('views.pagination.info', info) %></h4>
    <%= paginate @analyses %>
    <table class='table table-hover'>
      <thead>
        <% %w[実行開始日時 期間 ペア バッチサイズ 状態].each do |header| %>
          <th><%= header %></th>
        <% end %>
        <th class='rebuild'></th>
      </thead>
      <tbody>
        <%= render @analyses %>
      </tbody>
    </table>
  </div>
</div>
