<%= form_for @analysis, {:url => analyses_learn_path, :remote => true, :html => {:class => 'form-inline'}} do |f| %>
  <% {:num_data => '学習データ数', :interval => '予測先(期間)'}.each do |param, text| %>
    <span class='input-custom'>
      <%= f.label param, "#{text}：" %>
      <%= f.text_field param, {:class => 'form-control', :name => param, :required => true} %>
    </span>
  <% end %>
  <span class='pull-right'>
    <%= f.submit '実行', :class => 'btn btn-primary btn-sm' %>
    <%= f.submit 'リセット', :type => 'reset', :class => 'btn btn-default btn-sm' %>
  </span>
<% end %>

<hr>

<h4 style='padding: 10px'>ジョブ実行履歴</h4>

<div style='padding: 0px 50px'>
  <table class='table table-hover'>
    <thead>
      <% %w[ 実行開始日時 学習データ数 予測先(期間) 状態 ].each do |header| %>
        <th><%= header %></th>
      <% end %>
    </thead>
    <tbody>
      <%= render @analyses %>
    </tbody>
  </table>
</div>
